.body {
    background-color: tomato;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imagecontainer {
    min-width: 150px;
}

.detailscontainer {
    padding: 10px;
}

.maintitlecontainer {
    display: flex;
}

.propertiescontainer {
    display: flex;
}

.descriptioncontainer {
    
}