.footer {
    background-color: #7f8eba;
    text-align: center;
    padding: 5px;
    font-family: cursive;
    background-image: url(https://cdn.wallpapersafari.com/38/44/SW3bML.jpg);
    background-size: cover;
    color: white;
    background-color: #222327;
    /* position: absolute;
    bottom: 0;
    width: 100%;
    height: 22px; */
}