.header {
    background-image: url("https://cdn.wallpapersafari.com/38/44/SW3bML.jpg"); 
    background-size: cover;   
}

.headertitle {
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: cursive;
    color: gold;
    font-size: 32px;
}