.searchfield {
    font-family: cursive;
    box-shadow: inset 0 1px 3px #ddd;
    border: 1px solid #ccc;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 50%;
}