.container {
    height: 36px;
}

.item {
    float: left;
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: cursive
}

.isactive {
    background-color: gold;
}