{
  "parser": "babel-eslint",
  "rules": {
    "max-len": [
      1,
      500,
      2,
      {
        "ignoreComments": true
      }
    ]
  },
  "extends": [
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "globals": {
    "fetch": false,
    "describe": false,
    "it": false,
    "react": false,
    "test": false,
    "expect": false,
    "jest": false,
    "require": false
  },
  "env": {
    "browser": true
    }
}